.img-logo {
    height: 2.2rem;
}

.card-img {
    && .main-img {
        height: 9rem;
        min-height: 100%;
        max-width: 100%;
    }
}

.announces-list {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    && .announces-card {
        min-width: 20rem;
        max-width: 20rem;
    }
}

.home_presentation {
    background-image: url('../img/home_background.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 20rem;
    && h1 {
        margin-left: 1rem;
        color: #dc3545;
    }
    && h4 {
        margin-left: 1.6rem;
        color: #dc3545;
    }
}

.announce {
    && .img-details {
        max-width: 30rem;
    }
}