<footer class="footer mt-auto py-3 bg-light bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>À propos de nous</h5>
                <p>Notre entreprise s'engage à fournir des solutions innovantes et de qualité.</p>
            </div>
            <div class="col-md-3">
                <h5>Liens rapides</h5>
                <ul class="list-unstyled">
                    <li><a href="/accueil">Accueil</a></li>
                    <li><a href="/annonces">Annonces</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h5>Contactez-nous</h5>
                <address>
                    <strong>Agence Azera</strong><br>
                    3 Rue du Mistral<br>
                    Lille, 59000<br>
                    <span>Tél :</span> 06 78 15 42 96
                </address>
            </div>
        </div>
        <hr>
        <p class="text-muted small">&copy; 2024 Agence Azera. Tous droits réservés.</p>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>